/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*                         全  域                             */
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
#news_pic{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#news_pic>a{
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #d5d5d5;    /*淺灰色*/
  position: relative;
}
#news_pic>a>img{
  width: 100%;
  vertical-align: bottom;
}
#new_text{
  width: 100%;
}
.news_subject{
  font-size: 12pt;
  font-weight: bold;
  color: #E64066;   /*粉紅色*/
}
.news_content{
  text-align: justify;
}




/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*                         手機轉置                            */
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
@media screen and (min-width: 481px){



}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*                         平  板                             */
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
@media screen and (min-width: 768px){
  #news_pic{
    width: 45%;
    float: left;
    margin-top: 20px;
  }
  #news_text{
    width: 50%;
    float: right;
    margin-top: 30px;
  }



}


/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*                         PC 版                              */
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
@media screen and (min-width: 981px){
  #news_pic{
    width: 35%;
  }
  #news_text{
    width: 60%;
  }



}
